.nav_per{
	width: 22%;
	height: 50px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #0000006b;
	font-size: 12px;
	margin-left: 2.1%;
	float: left;
}
.nav_per_top{
	width: 100%;height: 25px;text-align: center;
}
.nav_per_bottom{
	width: 100%;height: 25px; text-align: center;line-height: 25px;
}
.reying{
	width:98%;margin-left: 1%;height: auto;overflow: hidden;margin-top: 14px;
}
.reyingAll{
	width: 100%;height: 170px;
}
.reyingAllPer{ float: left;width: 30%;height: 170px;margin-left: 2%;}

.per_img{width: 100%; height: 150px;	}
.per_img img{width: 100%;height: 100%;border-radius: 5px;}
.per_movieName{ float: left; width: 70%;line-height: 20px;height: 20px;font-size: 14px;}
.per_movieScore{float: left; width: 30%;height: 20px;line-height: 23px;color: #F0AD4E;font-size: 12px;}
.jijiang{float: left;margin-left: 2%;width: 46%;height: 90px;border: 1px solid #C8C7CC;border-radius: 5px;background-color: white;}
.jijiang_title{width: 70%;height: 30px;font-size: 14px;float: left;padding-left: 10px;}
.jijiang_title_right{width: 30%;height: 30px;font-size: 14px;float: right;text-align: right;}
.jijiang_more{width: 50%;height: 60px;color: #8F8F94;margin-top: 5px;padding-left: 10px;font-size: 12px;float: left;}
.jijiang_content_right{width: 45%;height:50px;font-size: 14px;float: left;text-align: right;}
.jijiang_content_right img{width: 100%;height: 100%;border-radius: 5px;}


